<!-- painel.component.html -->
<app-header></app-header>
<div class="container">
  <h1 style="text-align: center;">Painel Central</h1>
  <mat-grid-list cols="3" rowHeight="1:0.9" >
        
    <div *ngIf="carregando" class="loading">
      <p>Carregando dados...</p>
    </div>
  
    <div *ngIf="erroCarregamento" class="error">
      {{ erroCarregamento }}
    </div>

    <mat-grid-tile *ngIf="!carregando && !erroCarregamento" >
      <app-card-equipamento *ngFor="let dispositivo of dispositivosFormatados">
        
      </app-card-equipamento>
    </mat-grid-tile>

    


    <mat-grid-tile>
      <app-card-equipamento titulo="Equipamento 1"></app-card-equipamento>
    </mat-grid-tile>
    
    <mat-grid-tile>
      <app-card-equipamento titulo="Equipamento 2"></app-card-equipamento>
    </mat-grid-tile>
    
    <mat-grid-tile>
      <app-card-equipamento titulo="Equipamento 3"></app-card-equipamento>
    </mat-grid-tile>
    
    <mat-grid-tile>
      <app-card-equipamento titulo="Equipamento 4"></app-card-equipamento>
    </mat-grid-tile>

    <mat-grid-tile>
      <app-card-equipamento titulo="Equipamento 5"></app-card-equipamento>
    </mat-grid-tile>

    <mat-grid-tile>
      <app-card-equipamento titulo="Equipamento 6"></app-card-equipamento>
    </mat-grid-tile>

  </mat-grid-list>
</div>