<!-- painel.component.html -->
  <h1 style="text-align: center;">Painel Central</h1>
  <mat-grid-list cols="3" rowHeight="1:0.9" >
        
    <div *ngIf="carregando" class="loading">
      <p>Carregando dados...</p>
    </div>
  
    <div *ngIf="erroCarregamento" class="error">
      {{ erroCarregamento }}
    </div>

    <mat-grid-tile *ngIf="!carregando && !erroCarregamento" >
      <app-card-equipamento *ngFor="let dispositivo of dispositivosFormatados">
        
      </app-card-equipamento>
    </mat-grid-tile>


  </mat-grid-list>