<div class="d-flex justify-content-center">
    <div class="card shadow p-4" style="width: 600px;">
        <div class="card-body text-center">
            <h4 class="fw-bold mb-3">CONFIGURAÇÕES</h4>
            <h6 class="fw-bold">ID DO ALIMENTADOR</h6>
            <div class="mb-4">
                <select class="form-select w-50 mx-auto">
                    <option selected>Selecione</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="row mb-4">
                <div class="col-6">
                    <h6 class="fw-bold">HORA LIGA CONFIGURADA</h6>
                    <div>8</div>
                </div>
                <div class="col-6">
                    <h6 class="fw-bold">HORA DESLIGA CONFIGURADA</h6>
                    <div>8</div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h6 class="fw-bold">TEMPO CICLO</h6>
                    <div>8</div>
                </div>
                <div class="col-6">
                    <h6 class="fw-bold">QUANTIDADE POR CICLO(G)</h6>
                    <div>8</div>
                </div>
            </div>
        </div>
    </div>
</div>