
        <!-- /* card de equipamento  */ -->
        <div class="d-flex justify-content-end">
          <div class="card border border-primary text-center" style="width: 18rem;">
            <img src="assets/LOGO-OFC-WBM.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Alimentador</h5>
              <button class="btn btn-dark" (click)="openConfigModal()">Configurar</button>
            </div>
          </div>
        </div>

        <!-- Modal -->
 <div class="modal fade" id="configModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Configuração do Equipamento</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>
        <div class="modal-body">
          <label>ID da Válvula</label>
          <input type="text" class="form-control mb-2" />
          <label>Definir Hora Liga</label>
          <input type="time" class="form-control mb-2" />
          <label>Definir Hora Desligada</label>
          <input type="time" class="form-control mb-2" />
          <label>Definir Quantidade por Ciclo (g)</label>
          <input type="number" class="form-control mb-2" />
          <label>Definir Tempo Ciclo</label>
          <input type="number" class="form-control mb-2" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary">Configurar</button>
        </div>
      </div>
    </div>
  </div>
  

        <!-- /* configuracoes */ -->

        <app-configuracoes-alimentador></app-configuracoes-alimentador>

            <!-- /* Tabela de erros */ -->
            <div class="mt-3"> 
              <app-tabela-erros></app-tabela-erros>
            </div>

            <!-- /* Footer */ -->

        <app-footer></app-footer>





